*{
    padding: 0;
    margin: 0;
}
.topnav {
    position: fixed;
    background-color: #fff;
    z-index: 11;
    overflow: hidden;
    width: 100%;
    border-bottom: 3px solid #47a3da;
}
.navsec{
    margin-left:26%;
}

.topnav a {
    position: relative;
    text-decoration: none;
    font-weight: 700;
    padding: 1em 2em;
    color:  #5374a9;;
    display: inline-block;
}

.topnav a:hover {
    background-color: #5374a9;
    color: #fff;
}


.topnav .icon {
    display: none;
}

@media screen and (max-width:1100px){
    .navsec{
        margin-left: 20%;
    }
    .valoresgg{
        float:left;
        position: relative;
        left:-120px;
    }
}
@media screen and (max-width:900px){
    .navsec{
        margin-left: 15%;

    }    


}

@media screen and (max-width:790px){
    .navsec{
        margin-left: 5%;
    }
    .valoresgg{
        margin-left: 0;
    }
}

@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        padding: 25px 30px;
        float: right;
        display: block;
    }
    .navsec{
        margin-left:0%;
    }
}

@media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}

.valoresgg{
    margin-left: 120px;
}

.wrapper {
    width: 100%;
    overflow:hidden;
}

.fuentetexto{
    font-family: 'Catamaran', sans-serif;
}
.azul{
    color:#5374a9;     
}

#sec2-1{
    opacity: 0;
}
#sec3-1{
    opacity: 0;
}
#sec4-1{
    opacity: 0;
}
#sec-3{
    opacity: 0;
}
#seccion3-2{
    opacity: 0;
}

#seccion1{
    opacity: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:700px;
}
#seccion2{
    opacity: 0;
    z-index:1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}
#seccion3{

    /*  background-color: #FCFCFC; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}
#seccion4{
    /*  background-color: #FCFCFC; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}
#seccion5{
    /*  background-color: #FCFCFC; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}
#seccion6{
    /*  background-color: #FCFCFC; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}

.esconder{
    opacity: 0;
}
#productos > h1{
    opacity: 0;
}
.dgcAlert {top: 0;position: absolute;width: 100%;display: block;height: 1000px; background: url(http://www.dgcmedia.es/recursosExternos/fondoAlert.png) repeat; text-align:center; opacity:0; display:none; z-index:999999999999999;}
.dgcAlert .dgcVentana{width: 500px; background: white;min-height: 150px;position: relative;margin: 0 auto;color: black;padding: 10px;border-radius: 10px;}
.dgcAlert .dgcVentana .dgcCerrar {height: 25px;width: 25px;float: right; cursor:pointer; background: url(http://www.dgcmedia.es/recursosExternos/cerrarAlert.jpg) no-repeat center center;}
.dgcAlert .dgcVentana .dgcMensaje { margin: 0 auto; padding-top: 45px; text-align: center; width: 400px;font-size: 20px;}
.dgcAlert .dgcVentana .dgcAceptar{background:#09C; bottom:20px; display: inline-block; font-size: 12px; font-weight: bold; height: 24px; line-height: 24px; padding-left: 5px; padding-right: 5px;text-align: center; text-transform: uppercase; width: 75px;cursor: pointer; color:#FFF; margin-top:50px;}

.tablanumero{
    font-weight: 900;
    font-size:25px;
    text-align: center;
}
.tablatexto{
    font-weight: 900;
    font-size:20px;
    text-align: center;
}